.hero{
    background: url("assets/Intersect.png") no-repeat;
    background-size: contain;
    background-position: right top;
    background-color: #ffd699;
}

.vr{
    opacity: 100%;
    width: 2px;
    height: 25px;
}

.active{
    border-bottom: #ed8e00 solid 3px;
}
